[Desktop Entry]
Name=Toggle Pomodoro Sync
Comment=Toggle Pomodoro Synchronisation
Exec=toggle-pomodoro-sync.sh
# Icon=Zoom.png
Terminal=false
Type=Application
Name[en_US]=Toggle Pomodoro Sync
