[Desktop Entry]
Version=1.0
Type=Application
Name=Insync
GenericName=Insync
Comment=Launch Insync
Icon=insync
Categories=Network;
Exec=env QT_AUTO_SCREEN_SCALE_FACTOR=1 insync start
TryExec=insync
Terminal=false
